@use "variables" as v;

.footer {
	display: flex;
	flex-direction: column;
	background-color: v.$dark-white;
	padding: 6rem 8%;
}

.description {
	margin: 0 0 6rem 0;
	h1 {
		font-size: 2.8rem;
	}
	p {
		color: v.$grey;
		margin: v.$defaul-margin;
	}
	a {
		border-bottom: 2px dashed v.$text;
		&:hover {
			border: none;
		}
	}
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	li {
		margin: 0 0 0 2rem;
		&:first-child {
			margin: 0;
		}
		a {
			font-weight: 500;
			&:hover {
				color: v.$blue;
				border-bottom: 2px dashed v.$blue;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.footer {
		padding: 3rem 8%;
	}
	.description {
		margin: 0 0 3rem 0;
		h1 {
			font-size: 2rem;
		}
	}
	.container {
		display: flex;
		flex-direction: column-reverse;
		height: 5rem;
	}
}
