@use "variables" as v;

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
}

.site_content {
	margin: 0 auto;
	flex: 1;
	padding: 0 8% 0;
	background-color: v.$white;
}
