@use "variables" as v;

.conteiner {
	padding: 0 0 3rem;
	h1 {
		font-size: 2rem;
		margin: 0 0 2rem;
	}
}

.slider_container {
	padding: 0 0 3rem 0;
}

.active {
	padding-right: 0.8rem;
	svg {
		font-size: 1.5rem;
		fill: v.$text;
	}
}

.inactive {
	padding-right: 0.8rem;
	svg {
		font-size: 1.5rem;
		fill: v.$grey;
	}
}

.project_cart {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	.content {
		flex: 1 0 auto;
		.img_cart {
			object-fit: cover;
			overflow: hidden;
			height: 20rem;
			width: 100%;
			border-radius: v.$border-radius;
			margin: 1rem 0;
			pointer-events: none;
			transition: all 0.5s ease;
		}

		h1 {
			font-size: 1.8rem;
			margin: 0;
		}
		p {
			color: v.$grey;
			font-size: 0.9rem;
			margin: 1rem 0;
		}
	}
	.link {
		a {
			color: v.$text;
			font-weight: 600;
			text-transform: uppercase;
			cursor: pointer;
			width: 50%;
		}
	}

	&:hover {
		.content {
			.img_cart {
				transform: scale(1.05);
			}
		}
		.link {
			a {
				border-bottom: 2px dashed v.$text;
			}
		}
	}
}

@media screen and (max-width: 3000px) {
	.project_cart {
		.content {
			.img_cart {
				height: 30rem;
			}
		}
	}
}

@media screen and (max-width: 2269px) {
	.project_cart {
		.content {
			.img_cart {
				height: 25rem;
			}
		}
	}
}

@media screen and (max-width: 1846px) {
	.project_cart {
		.content {
			.img_cart {
				height: 20rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.project_cart {
		.content {
			.img_cart {
				height: 17rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.project_cart {
		.content {
			.img_cart {
				height: 15rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 715px) {
	.project_cart {
		.content {
			.img_cart {
				height: 13rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 605px) {
	.project_cart {
		.content {
			.img_cart {
				height: 10rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 471px) {
	.project_cart {
		padding: 1rem 0;
		&:last-child {
			margin-right: 0;
		}
		.content {
			.img_cart {
				height: 17rem;
			}
		}

		&:hover {
			.content {
				.img_cart {
					transform: none;
				}
			}
			.link {
				a {
					border-bottom: none;
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.project_cart {
		.content {
			.img_cart {
				height: 14rem;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.project_cart {
		.content {
			.img_cart {
				height: 12rem;
			}
		}
	}
}
