@use "variables" as v;

.conteiner {
	padding: 0 0 3rem;
	h1 {
		font-size: 2rem;
		margin: 0 0 2rem;
	}
}

.carousel {
	overflow: hidden;
	cursor: grab;
	height: 100%;
}
.inner_carousel {
	display: flex;
	height: 100%;
}

.project_cart {
	display: flex;
	flex-direction: column;
	min-height: 600px;
	min-width: 33.3333%;
	padding: 1rem;
	margin-right: 3rem;
	&:last-child {
		margin-right: 0;
	}
	.content {
		flex: 1 1 auto;
		.img_cart {
			object-fit: cover;
			overflow: hidden;
			height: 18rem;
			width: 100%;
			border-radius: v.$border-radius;
			margin: 1rem 0;
			pointer-events: none;
			transition: all 0.5s ease;
		}

		h1 {
			font-size: 1.8rem;
			margin: 0;
		}
		p {
			color: v.$grey;
			font-size: 0.9rem;
			margin: 1rem 0;
		}
	}
	.link {
		a {
			color: v.$text;
			font-weight: 600;
			text-transform: uppercase;
			cursor: pointer;
			width: 50%;
		}
	}

	&:hover {
		.content {
			.img_cart {
				transform: scale(1.05);
			}
		}
		.link {
			a {
				border-bottom: 2px dashed v.$text;
			}
		}
	}
}

@media screen and (min-width: 1666px) {
	.project_cart {
		min-width: 25%;
		.content {
			.img_cart {
				height: 15rem;
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 2000px) {
	.project_cart {
		min-width: 20%;
	}
}

@media screen and (min-width: 2560px) {
	.project_cart {
		min-width: 16%;
	}
}

@media screen and (max-width: 1024px) {
	.project_cart {
		min-width: 40%;
		.content {
			.img_cart {
				height: 15rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.project_cart {
		min-width: 50%;
		.content {
			.img_cart {
				height: 14rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.project_cart {
		min-width: 80%;
		padding: 1rem 0;
		margin-right: 1.5rem;
		&:last-child {
			margin-right: 0;
		}
		.content {
			.img_cart {
				height: 15rem;
				width: 100%;
			}
		}

		&:hover {
			.content {
				.img_cart {
					transform: none;
				}
			}
			.link {
				a {
					border-bottom: none;
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.project_cart {
		.content {
			.img_cart {
				height: 12rem;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.project_cart {
		min-width: 85%;
		.content {
			.img_cart {
				height: 10rem;
				width: 100%;
			}
		}
	}
}
